{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typesctipt-eslint"],
  "rules": {
    "semi": ["warn", "always"],
    "@typesctipt-eslint/semi": ["warn", "always"],
    "@typesctipt-eslint/no-unused-vars": ["warn", "always"],
    "@typesctipt-eslint/no-empty-interface": [
      "error",
      { "allowSingleExtends": true }
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typesctipt-eslint/eslint-recommended",
    "plugin:@typesctipt-eslint/recommended"
  ]
}
